{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"429517c22d996a306280b588b96ecb05\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["146"], "X-Vcap-Request-Id":["7b1b187b-cd70-46f2-61a5-98bc3e0ea3a7"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":146,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 05:15:06 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories?fields=%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29&filter=-state%3Aaccepted&limit=10&offset=0","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"ca4476a295717e5f4ba6dd941767d41f\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["10"], "X-Tracker-Pagination-Total":["37"], "X-Tracker-Project-Version":["146"], "X-Vcap-Request-Id":["2f800d18-9d3b-4ff5-7afe-772fa0405be9"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":137067663,\"created_at\":\"2017-01-05T00:40:05Z\",\"updated_at\":\"2017-02-08T14:31:49Z\",\"story_type\":\"bug\",\"name\":\"fix comment person bug\",\"current_state\":\"delivered\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137067663\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":139355533,\"created_at\":\"2017-02-08T09:01:29Z\",\"updated_at\":\"2017-02-13T05:11:40Z\",\"estimate\":1,\"story_type\":\"feature\",\"name\":\"tarra\",\"description\":\"hhaha\\n\",\"current_state\":\"rejected\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139355533\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[{\"id\":52251331,\"description\":\"lalalalala\",\"complete\":false}],\"comments\":[{\"id\":162653269,\"text\":\"testt enak banget niiih\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162860117,\"text\":\"yes hoge\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162989993,\"text\":\"interactive comment\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":163020985,\"text\":\"not good enough\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]}],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":139355399,\"created_at\":\"2017-02-08T08:59:24Z\",\"updated_at\":\"2017[...]
