{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"05cbae558c745b89dd85b4f981f9f9a0\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["148"], "X-Vcap-Request-Id":["d104f923-feb1-4436-464c-4bddb9c86de1"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":148,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 07:40:53 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/iterations?fields=%3Adefault%2Cstories%28%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29%29&scope=backlog","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"488b30a2debeb8965dee54b7e4042b29\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["1"], "X-Tracker-Pagination-Total":["1"], "X-Tracker-Project-Version":["148"], "X-Vcap-Request-Id":["536b3ad8-915a-4c14-4abe-16bb1777daf4"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"stories\":[{\"kind\":\"story\",\"id\":139653371,\"created_at\":\"2017-02-13T05:14:22Z\",\"updated_at\":\"2017-02-13T07:38:58Z\",\"story_type\":\"feature\",\"name\":\"random\",\"current_state\":\"unstarted\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139653371\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[],\"owners\":[],\"labels\":[],\"tasks\":[],\"comments\":[]},{\"kind\":\"story\",\"id\":139651607,\"created_at\":\"2017-02-13T04:03:48Z\",\"updated_at\":\"2017-02-13T07:39:01Z\",\"story_type\":\"chore\",\"name\":\"kak dul\",\"current_state\":\"unstarted\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139651607\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[],\"owners\":[],\"labels\":[],\"tasks\":[],\"comments\":[]}],\"number\":6,\"project_id\":1946325,\"length\":1,\"team_strength\":1,\"start\":\"2017-02-13T08:00:00Z\",\"finish\":\"2017-02-20T08:00:00Z\",\"kind\":\"iteration\"}]"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 07:40:55 GMT"}],"recorded_with":"VCR 3.0.3"}