{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"f54c1ae029faa0eab7697aa17180e83a\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["141"], "X-Vcap-Request-Id":["ba0d93c2-d159-4998-4fe1-792654b38342"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":141,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:08 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories?fields=%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29&filter=story_type%3Abug+-state%3Aaccepted&limit=10&offset=0","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"fa6f222ff472ccc02f9959084e3eae50\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["2"], "X-Tracker-Pagination-Total":["2"], "X-Tracker-Project-Version":["141"], "X-Vcap-Request-Id":["ca467a05-5335-4498-5334-9b4e36c143c7"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":137067663,\"created_at\":\"2017-01-05T00:40:05Z\",\"updated_at\":\"2017-02-08T14:31:49Z\",\"story_type\":\"bug\",\"name\":\"fix comment person bug\",\"current_state\":\"delivered\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137067663\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":139515159,\"created_at\":\"2017-02-10T00:19:46Z\",\"updated_at\":\"2017-02-10T02:05:28Z\",\"story_type\":\"bug\",\"name\":\"uryataga\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139515159\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174}]"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:10 GMT"}],"recorded_with":"VCR 3.0.3"}