{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"4b0e39194622065edfb1b12e628b1a5a\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["136"], "X-Vcap-Request-Id":["80e7b2ee-8dfe-4154-6f07-8970690603c7"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":136,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Sun, 12 Feb 2017 09:40:59 GMT"},{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories","body":{"encoding":"UTF-8","string":"{\"name\":\"random\",\"requested_by_id\":1512174,\"owner_ids\":[null],\"description\":null}"},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"29345e390a9baae20154cfb4f60c3598\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["137"], "X-Vcap-Request-Id":["dfad34ab-eb30-479d-500e-f2931c9af95c"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":139633239,\"project_id\":1946325,\"name\":\"random\",\"story_type\":\"feature\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"owner_ids\":[],\"labels\":[],\"created_at\":\"2017-02-12T09:41:00Z\",\"updated_at\":\"2017-02-12T09:41:00Z\",\"url\":\"https://www.pivotaltracker.com/story/show/139633239\"}"},"http_version":null},"recorded_at":"Sun, 12 Feb 2017 09:41:00 GMT"}],"recorded_with":"VCR 3.0.3"}