{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"f54c1ae029faa0eab7697aa17180e83a\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["141"], "X-Vcap-Request-Id":["c406c129-d56c-40f9-6b40-025911e927d9"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":141,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:28 GMT"},[...]
{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories","body":{"encoding":"UTF-8","string":"{\"name\":\"random\",\"requested_by_id\":1512174,\"owner_ids\":[null],\"description\":null}"},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"c46d2e33b9c69566c6ccb14905265741\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["142"], "X-Vcap-Request-Id":["2cabbfd1-356c-437d-77b6-c97ba3356bed"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":139651619,\"project_id\":1946325,\"name\":\"random\",\"story_type\":\"feature\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"owner_ids\":[],\"labels\":[],\"created_at\":\"2017-02-13T04:04:30Z\",\"updated_at\":\"2017-02-13T04:04:30Z\",\"url\":\"https://www.pivotaltracker.com/story/show/139651619\"}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:30 GMT"}],"recorded_with":"VCR 3.0.3"}