{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"263d4ba68f520953b6bdea62410bca45\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["145"], "X-Vcap-Request-Id":["de1dd664-813b-4b01-709c-d1b745c56082"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":145,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 05:14:20 GMT"},[...]
{"request":{"method":"post","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories","body":{"encoding":"UTF-8","string":"{\"name\":\"random\",\"requested_by_id\":1512174,\"owner_ids\":[null],\"description\":null}"},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"410bb58180a102e107d5da86fd62611a\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["146"], "X-Vcap-Request-Id":["5b176127-0243-413e-77a8-d023f887ad51"]},"body":{"encoding":"ASCII-8BIT","string":"{\"kind\":\"story\",\"id\":139653371,\"project_id\":1946325,\"name\":\"random\",\"story_type\":\"feature\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"owner_ids\":[],\"labels\":[],\"created_at\":\"2017-02-13T05:14:22Z\",\"updated_at\":\"2017-02-13T05:14:22Z\",\"url\":\"https://www.pivotaltracker.com/story/show/139653371\"}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 05:14:22 GMT"}],"recorded_with":"VCR 3.0.3"}