{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"429517c22d996a306280b588b96ecb05\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["146"], "X-Vcap-Request-Id":["86c50987-fd0d-438a-59d8-6763fd772ae7"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":146,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 06:53:00 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/iterations?scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"a67058a43c17df880e87281a934ff1d5\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["146"], "X-Vcap-Request-Id":["8edd0ba3-25d0-4777-4ea3-c940aadb9a6d"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"number\":5,\"project_id\":1946325,\"length\":1,\"team_strength\":1,\"stories\":[{\"kind\":\"story\",\"id\":137069967,\"created_at\":\"2017-01-05T01:48:41Z\",\"updated_at\":\"2017-02-10T00:41:40Z\",\"accepted_at\":\"2017-02-07T14:02:01Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"test story\",\"current_state\":\"accepted\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137069967\",\"project_id\":1946325,\"owner_ids\":[1512174],\"labels\":[{\"id\":17606975,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hahaha\",\"created_at\":\"2017-02-07T15:12:20Z\",\"updated_at\":\"2017-02-07T15:12:20Z\"},{\"id\":17606999,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hla\",\"created_at\":\"2017-02-07T15:14:55Z\",\"updated_at\":\"2017-02-07T15:14:55Z\"},{\"id\":17619699,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hoge\",\"created_at\":\"2017-02-08T13:22:36Z\",\"updated_at\":\"2017-02-08T13:22:36Z\"}],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":137069863,\"created_at\":\"2017-01-05T01:42:33Z\",\"updated_at\":\"2017-02-08T04:49:54Z\",\"accepted_at\":\"2017-02-08T04:49:54Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"change tracke api gem\",\"current_state\":\"accepted\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137069863\",\"project_id\":1946325,\"owner_ids\":[1512174],\"labels\":[],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":137144693,\"created_[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/iterations?fields=%3Adefault%2Cstories%28%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29%29&scope=current","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"972874aee8e3a5e1be876c7cf9c0bdea\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["146"], "X-Vcap-Request-Id":["829e8d1e-e1ff-4c28-5e0f-ad664be755b6"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"stories\":[{\"kind\":\"story\",\"id\":137069967,\"created_at\":\"2017-01-05T01:48:41Z\",\"updated_at\":\"2017-02-10T00:41:40Z\",\"accepted_at\":\"2017-02-07T14:02:01Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"test story\",\"current_state\":\"accepted\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137069967\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[{\"id\":17606975,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hahaha\",\"created_at\":\"2017-02-07T15:12:20Z\",\"updated_at\":\"2017-02-07T15:12:20Z\"},{\"id\":17606999,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hla\",\"created_at\":\"2017-02-07T15:14:55Z\",\"updated_at\":\"2017-02-07T15:14:55Z\"},{\"id\":17619699,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hoge\",\"created_at\":\"2017-02-08T13:22:36Z\",\"updated_at\":\"2017-02-08T13:22:36Z\"}],\"tasks\":[{\"id\":52207451,\"description\":\"hoge hoge\",\"complete\":true},{\"id\":52208199,\"description\":\"lahahaha\",\"complete\":false}],\"comments\":[{\"id\":162647251,\"text\":\"hahahkkkkkkkkkkkkkkkkkk\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162859899,\"text\":\"lorem hoge hoge\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]}],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":137069863,\"created_at\":\"2017-01-05T01:42:33Z\",\"updated_at\":\"2017-02-08T04:49:54Z\",\"accepted_at\":\"2017-02-08T04:49:54Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"change tracke api gem\",\"current_state\":\"accepted\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show[...]
