{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"4b0e39194622065edfb1b12e628b1a5a\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["136"], "X-Vcap-Request-Id":["76bbc4c8-6500-485e-7352-a71f995b44b3"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":136,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Sun, 12 Feb 2017 08:52:35 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories?fields=%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29&filter=state%3Adelivered&limit=10&offset=0","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"1149b34afc4cd93a39f9824a39cf7ecf\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["2"], "X-Tracker-Pagination-Total":["2"], "X-Tracker-Project-Version":["136"], "X-Vcap-Request-Id":["af931fdb-4a85-4dee-7830-d6a39322a1a0"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":137763103,\"created_at\":\"2017-01-17T04:57:23Z\",\"updated_at\":\"2017-02-11T07:00:40Z\",\"story_type\":\"bug\",\"name\":\"command `pt show` list all stories\",\"current_state\":\"delivered\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137763103\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[{\"id\":162653705,\"text\":\"hahaha\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162737027,\"text\":\"opo ikiiii??\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162737857,\"text\":\"lala hahah\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162989447,\"text\":\"loaoahaakj\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162989449,\"text\":\"write comment\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]}],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":137067663,\"created_at\":\"2017-01-05T00:40:05Z\",\"updated_at\":\"2017-02-08T14:31:49Z\",\"story_type\":\"bug\",\"name\":\"fix comment person bug\",\"current_state\":\"delivered\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137067663\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174}]"},"http_version":null},"recorded_at":"Sun, 12 Feb 2017 08:52:36 GMT"}],"recorded_with":"VCR 3.0.3"}