{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"4b0e39194622065edfb1b12e628b1a5a\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["136"], "X-Vcap-Request-Id":["16d981d8-74f7-4322-7893-dd10c6ef13e6"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":136,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Sun, 12 Feb 2017 07:52:11 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories?fields=%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29&filter=state%3Aunscheduled&limit=10&offset=0","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"c85eafff3910a5bbcc57e2c4c92aa688\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["10"], "X-Tracker-Pagination-Total":["25"], "X-Tracker-Project-Version":["136"], "X-Vcap-Request-Id":["fb26c06b-c2c7-4ab6-6af6-c5af7e0d8885"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":139519531,\"created_at\":\"2017-02-10T02:23:35Z\",\"updated_at\":\"2017-02-11T08:36:24Z\",\"story_type\":\"feature\",\"name\":\"lorem\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139519531\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[{\"id\":17655813,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"salom\",\"created_at\":\"2017-02-11T08:36:24Z\",\"updated_at\":\"2017-02-11T08:36:24Z\"}],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":139518257,\"created_at\":\"2017-02-10T01:38:51Z\",\"updated_at\":\"2017-02-10T01:38:51Z\",\"story_type\":\"chore\",\"name\":\"hkakala\",\"description\":\"hahahaha\\n\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139518257\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":139515159,\"created_at\":\"2017-02-10T00:19:46Z\",\"updated_at\":\"2017-02-10T02:05:28Z\",\"story_type\":\"bug\",\"name\":\"uryataga\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139515159\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":139515083,\"created_at\":\"2017-02-10T00:17:59Z\",\"updated_at\":\"2017-02-10T00:17:59Z\",\"story_type\":\"feature\",\"name\":\"test create\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139515083\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[],\"owners\":[],\"labels\":[],\"tasks\":[],\"comments\":[]},{\"kind\":\"story\",\"id\":139514257,\"created_at\":\"2017-02-09T23:59:08Z\",\"updated_at\":\"2017-02-11T08:33:26Z\",\"estimate\":2,\"story_type\":\"feature\",\"name\":\"hloaa\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139514257\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":139514047,\"created_at\":\"2017-02-09T23:55:09Z\",\"updated_at\":\"2017-02-0[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories/139515083/owners","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["136"], "X-Vcap-Request-Id":["8da35c07-0b84-4e89-65ee-29eb92f209d1"]},"body":{"encoding":"ASCII-8BIT","string":"[]"},"http_version":null},"recorded_at":"Sun, 12 Feb 2017 07:52:12 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories/139460219/owners","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["136"], "X-Vcap-Request-Id":["fe4e0a10-e9ef-4d8b-6acd-1758f47566aa"]},"body":{"encoding":"ASCII-8BIT","string":"[]"},"http_version":null},"recorded_at":"Sun, 12 Feb 2017 07:52:14 GMT"}],"recorded_with":"VCR 3.0.3"}