{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"3776d9cf1c96e079d9c399db414ba63f\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["142"], "X-Vcap-Request-Id":["011e9db4-3bd8-415d-4562-665743f11c5a"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":142,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:53 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories?fields=%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29&filter=random&limit=10&offset=0","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"97d7536d0aaa288cd5d486d5975151ea\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["2"], "X-Tracker-Pagination-Total":["2"], "X-Tracker-Project-Version":["142"], "X-Vcap-Request-Id":["d5c7c87e-9a79-4266-4f88-d726ed8a8750"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":139651619,\"created_at\":\"2017-02-13T04:04:30Z\",\"updated_at\":\"2017-02-13T04:04:30Z\",\"story_type\":\"feature\",\"name\":\"random\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139651619\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[],\"owners\":[],\"labels\":[],\"tasks\":[],\"comments\":[]},{\"kind\":\"story\",\"id\":139633239,\"created_at\":\"2017-02-12T09:41:00Z\",\"updated_at\":\"2017-02-12T09:41:00Z\",\"story_type\":\"feature\",\"name\":\"random\",\"current_state\":\"unscheduled\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139633239\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[],\"owners\":[],\"labels\":[],\"tasks\":[],\"comments\":[]}]"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:54 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories/139651619/owners","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["142"], "X-Vcap-Request-Id":["a6969eb2-edf9-49e0-4c1e-82b17b2c2b4a"]},"body":{"encoding":"ASCII-8BIT","string":"[]"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:54 GMT"},{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories/139633239/owners","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"d751713988987e9331980363e24189ce\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["142"], "X-Vcap-Request-Id":["a6657f8d-2f02-4d21-6382-44ea9f3cb2e8"]},"body":{"encoding":"ASCII-8BIT","string":"[]"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:55 GMT"}],"recorded_with":"VCR 3.0.3"}