{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"263d4ba68f520953b6bdea62410bca45\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["145"], "X-Vcap-Request-Id":["123bbe07-d78f-4650-6ef5-9999df2cb84d"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":145,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 05:14:12 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories?fields=%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29&filter=state%3Afinished&limit=10&offset=0","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"431e35df699377c5a343d23aa5e7ea37\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["2"], "X-Tracker-Pagination-Total":["2"], "X-Tracker-Project-Version":["145"], "X-Vcap-Request-Id":["ea60dea3-9156-4864-7b34-ef5e87045d4f"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":139355399,\"created_at\":\"2017-02-08T08:59:24Z\",\"updated_at\":\"2017-02-13T04:08:08Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"tatata\",\"current_state\":\"finished\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139355399\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":139279273,\"created_at\":\"2017-02-07T13:20:25Z\",\"updated_at\":\"2017-02-10T00:12:02Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"refactoring\",\"current_state\":\"finished\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139279273\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[],\"comments\":[],\"owned_by_id\":1512174}]"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 05:14:15 GMT"}],"recorded_with":"VCR 3.0.3"}