{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"3776d9cf1c96e079d9c399db414ba63f\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["142"], "X-Vcap-Request-Id":["c3f0e780-a678-4d75-76e9-f05ed3dc3fdc"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":142,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 04:04:51 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories?fields=%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29&filter=-state%3Daccepted&limit=10&offset=0","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"bb75f2b62ecd2a10fd8f36468f7f524c\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["10"], "X-Tracker-Pagination-Total":["43"], "X-Tracker-Project-Version":["142"], "X-Vcap-Request-Id":["0616f0b2-8a64-40d4-6997-6b768f2682da"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":137069967,\"created_at\":\"2017-01-05T01:48:41Z\",\"updated_at\":\"2017-02-10T00:41:40Z\",\"accepted_at\":\"2017-02-07T14:02:01Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"test story\",\"current_state\":\"accepted\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137069967\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[{\"id\":17606975,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hahaha\",\"created_at\":\"2017-02-07T15:12:20Z\",\"updated_at\":\"2017-02-07T15:12:20Z\"},{\"id\":17606999,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hla\",\"created_at\":\"2017-02-07T15:14:55Z\",\"updated_at\":\"2017-02-07T15:14:55Z\"},{\"id\":17619699,\"project_id\":1946325,\"kind\":\"label\",\"name\":\"hoge\",\"created_at\":\"2017-02-08T13:22:36Z\",\"updated_at\":\"2017-02-08T13:22:36Z\"}],\"tasks\":[{\"id\":52207451,\"description\":\"hoge hoge\",\"complete\":true},{\"id\":52208199,\"description\":\"lahahaha\",\"complete\":false}],\"comments\":[{\"id\":162647251,\"text\":\"hahahkkkkkkkkkkkkkkkkkk\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162859899,\"text\":\"lorem hoge hoge\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]}],\"owned_by_id\":1512174},{\"kind\":\"story\",\"id\":137069863,\"created_at\":\"2017-01-05T01:42:33Z\",\"updated_at\":\"2017-02-08T04:49:54Z\",\"accepted_at\":\"2017-02-08T04:49:54Z\",\"estimate\":3,\"story_type\":\"feature\",\"name\":\"change tracke api gem\",\"current_state\":\"accepted\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/137069863\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"[...]
