{"http_interactions":[{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"263d4ba68f520953b6bdea62410bca45\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Project-Version":["145"], "X-Vcap-Request-Id":["78e36f90-d3fb-4a20-7c14-a4a9dff2e9e7"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":1946325,\"kind\":\"project\",\"name\":\"ptt\",\"version\":145,\"iteration_length\":1,\"week_start_day\":\"Monday\",\"point_scale\":\"0,1,2,3\",\"point_scale_is_custom\":false,\"bugs_and_chores_are_estimatable\":false,\"automatic_planning\":true,\"enable_tasks\":true,\"time_zone\":{\"kind\":\"time_zone\",\"olson_name\":\"America/Los_Angeles\",\"offset\":\"-08:00\"},\"velocity_averaged_over\":3,\"number_of_done_iterations_to_show\":12,\"has_google_domain\":false,\"enable_incoming_emails\":true,\"initial_velocity\":10,\"public\":true,\"atom_enabled\":false,\"project_type\":\"public\",\"start_time\":\"2017-01-09T08:00:00Z\",\"created_at\":\"2017-01-05T00:38:01Z\",\"updated_at\":\"2017-01-05T01:01:15Z\",\"account_id\":955587,\"current_iteration_number\":5,\"enable_following\":true}"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 05:14:18 GMT"},[...]
{"request":{"method":"get","uri":"https://www.pivotaltracker.com/services/v5/projects/1946325/stories?fields=%3Adefault%2Crequested_by%28initials%29%2Cowners%28initials%29%2Ctasks%28complete%2Cdescription%29%2Ccomments%28text%2Cfile_attachment_ids%2Cperson%28initials%29%29&filter=state%3Arejected&limit=10&offset=0","body":{"encoding":"US-ASCII","string":""},"headers":{"X-TrackerToken":["1ccbd2722417f677d53516185ea7af28"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "Etag":["\"38f0dd1239dacf2eb989beb76487f5a7\""], "Status":["200 OK"], "X-Tracker-Client-Pinger-Interval":["20"], "X-Tracker-Pagination-Limit":["10"], "X-Tracker-Pagination-Offset":["0"], "X-Tracker-Pagination-Returned":["1"], "X-Tracker-Pagination-Total":["1"], "X-Tracker-Project-Version":["145"], "X-Vcap-Request-Id":["6a9e4cc8-6f7a-43cd-4d51-a6811b7b3407"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"kind\":\"story\",\"id\":139355533,\"created_at\":\"2017-02-08T09:01:29Z\",\"updated_at\":\"2017-02-13T05:11:40Z\",\"estimate\":1,\"story_type\":\"feature\",\"name\":\"tarra\",\"description\":\"hhaha\\n\",\"current_state\":\"rejected\",\"requested_by_id\":1512174,\"url\":\"https://www.pivotaltracker.com/story/show/139355533\",\"project_id\":1946325,\"requested_by\":{\"id\":1512174,\"initials\":\"Kris\"},\"owner_ids\":[1512174],\"owners\":[{\"id\":1512174,\"initials\":\"Kris\"}],\"labels\":[],\"tasks\":[{\"id\":52251331,\"description\":\"lalalalala\",\"complete\":false}],\"comments\":[{\"id\":162653269,\"text\":\"testt enak banget niiih\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162860117,\"text\":\"yes hoge\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":162989993,\"text\":\"interactive comment\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]},{\"id\":163020985,\"text\":\"not good enough\",\"person\":{\"id\":1512174,\"initials\":\"Kris\"},\"file_attachment_ids\":[]}],\"owned_by_id\":1512174}]"},"http_version":null},"recorded_at":"Mon, 13 Feb 2017 05:14:20 GMT"}],"recorded_with":"VCR 3.0.3"}